.no-scrollbar::-webkit-scrollbar {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.cm-focused {
    outline: none !important
}

.cm-gutters {
    color: var(--color-secondary-1) !important;
    @apply !hidden lg:!flex pr-6;
}

.cm-scroller {
    scrollbar-width: none;
    -ms-overflow-style: none;
}